<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true">
        <div class="logo"></div>
        <mat-nav-list class="nav-list">
            <a class="link" mat-list-item routerLink="/home" routerLinkActive="active" 
            [routerLinkActiveOptions]="{exact: true}">
                <div class="rota" >
                    <i class="material-icons b-home">
                        home
                    </i>
                    <span>Início</span>
                </div>
            </a>
            <a  class="link" mat-list-item routerLink="/entrantes" routerLinkActive="active">
                <div class="rota">
                    <i class="material-icons b-home">
                        payments
                    </i>
                    <span>Entrantes</span>
                </div>
            </a>
            <a  class="link" mat-list-item routerLink="/dividas" routerLinkActive="active" >
                <div class="rota">
                    <i class="material-icons b-home">
                        assistant
                    </i>
                    <span>Dívidas</span>
                </div>
            </a>

            <a mat-list-item (click)="logout()" id="logout">
                <div class="rota">
                    <i class="material-icons ">
                        exit_to_app
                    </i>
                    <span>Sair</span>
                </div>
            </a>
            <!-- <div class="logout-container rota">
                <a mat-list-item class="logout" (click)="logout()">
                    <mat-icon>logout</mat-icon>
                </a>
            </div> -->
        </mat-nav-list>
    </mat-sidenav>
</mat-sidenav-container>