.artside {
    background-color: #6E87E8;
    display: inline-block;
    width: 50%;
    position: absolute;
    right: 0;
    height: 100vh;
}

.inputs {
    display: block;
    width: 35%;
    height: auto;
    position: absolute;
    left: 7%;
    top: 9%;
}

mat-form-field {
    display: block;
}

.cadastrar {
    display: inline-block;
    background-color: #576fd1;
    color: white;
    width: 100%;
}


h2 {
    color: #576fd1;
    font-size: 22px;
}