<div class="artside">
</div>

<div class="inputs">
    <div id="titulo">
        <h2>Criar Conta</h2>
    </div>

    <mat-form-field appearance="outline">
        <mat-label>Nome</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Telefone</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Senha</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Confirmar Senha</mat-label>
        <input matInput>
    </mat-form-field>

    <button mat-button color="primary" class="cadastrar">Cadastrar</button>
</div>