.authentication {
    width: auto;
    position: absolute;
    top: 130px;
    right: 15%;
    display: inline-block;
}

.artside {
    background-color: #6E87E8;
    display: inline-block;
    width: 55%;
    height: 110vh;
}