/* You can add global styles to this file, and also import other style files */

html,
html {
    overflow-y: hidden;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
}

body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-seri;
}

.display {
    position: absolute;
    left: 10%;
    width: 89%;
    display: inline-block;
    top: 100px;
}